:root {
    --primary: #384044; 
    --font: 'Raleway';
}

header {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--primary);
    height:100px;
    
}

 h1 {
    background-color: lightblue;
    padding-left: 100px;
    color: var(--primary);
    font-family: var(--font);
}

#navigation {
    display: flex;
    margin-right: 50px;
    margin-top: 40px;
    
}

.navli {
    text-align: center;
    list-style: none;
    margin-left: 15px;
    font-family: var(--font);
    border-bottom: 3px solid lightblue;
    color: lightblue;   
}

/* End of header */




#hero {
    width:100%;
    height: 250px;
    object-fit: cover;
}

