:root {
    --primary: #384044;
    --font: 'Raleway';
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--primary);
    height: 100px;

}


h1 {
    background-color: lightblue;
    padding-left: 100px;
    color: var(--primary);
    font-family: var(--font);
}

#navigation {
    display: flex;
    margin-right: 50px;
    margin-top: 40px;

}

.navli {
    text-align: center;
    list-style: none;
    margin-left: 15px;
    font-family: var(--font);
    border-bottom: 3px solid lightblue;
    color: lightblue;
}

/* End of header */

/* Hero */
#hero {
    display: flex;
    background-image: url(images/hero.jpg);
    height: 250px;
    object-fit: cover;
    justify-content: space-between;
}

#powerof {
    position: relative;
    color: lightblue;
    margin-top: 150px;
    margin-right: 60px;
    font-size: 30px;
    font-family: var(--font);
}

#avatar {
    position: relative;
    margin-left: 30px;
    height: 230px;
    margin-top: 19.5px;
}

/* End of Hero */


/* About Me */
#about-me {
    display: flex;
    flex-wrap: nowrap;

}

.about-me-sec {
    display: flex;
    justify-content: right;
    width: 12%;
    border-right: 5px solid var(--primary);
    text-align: right;
    padding-right: 5px;
    color: var(--primary);
    font-size: 35px;
    margin-right: 20px;
    font-family: var(--font);
}

.content {
    width: 88%;
    color: var(--primary);
    font-family: var(--font);
    
} 

p {
    width:95%;
    font-size: 20px;
}
/* End About Me */


/* work section */
.container {
    width: 100%;
    height:650px;
}

.row {
    display: flex;
}

.column {
    width:88%;
}

.miniproj {
    width:95%;
    height:450px;
    border: 5px solid var(--primary);
}

.work-title {
    width: 12%;
    border-right: 5px solid var(--primary);
    text-align: right;
    padding-right: 5px;
    color: var(--primary);
    font-size: 25px;
    margin-right: 20px;
    font-family: var(--font);
}

.row-2 {
    display: flex;
}

.image-2 {
    width:44%;
}

.image-3 {
    width:44%;
}

.passwordgenie{
    width:90%;
    height:300px;
    border:4px solid var(--primary)
}

.hidden {
    visibility: hidden;
}
/* End of work section */


/* footer */
.row-3 {
    display: flex;
}

.contact {
    width: 88%;
}

.contact-li {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    
}

.footer-li {
    display: inline;
    margin-left: 150px;
    font-size: 25px;
    border-bottom: 5px solid var(--primary);
    padding-bottom: 5px;
    color: var(--primary); 
    font-family: var(--font);
}

div ul a {
    text-decoration: none;
}

/* Titles */

.image-1-title {
    position:absolute;
    background-color: lightblue;
    width:auto;
    font-size: 26px;
    margin-left: 4px;
    margin-top:345px;
    text-align: center;
    font-family: var(--font);
    
}

.image-2-title {
    position:absolute;
    background-color: lightblue;
    width:auto;
    font-size: 18px;
    margin-left: 4px;
    margin-top:225px;
    text-align: center;
    font-family: var(--font);
}


.image-3-title {
    position:absolute;
    background-color: lightblue;
    width:auto;
    font-size: 18px;
    margin-left: 4px;
    margin-top:225px;
    text-align: center;
    font-family: var(--font);
}

.image-4-title {
    position:absolute;
    background-color: lightblue;
    width:auto;
    font-size: 18px;
    margin-left: 4px;
    margin-top:225px;
    text-align: center;
    font-family: var(--font);
}

.image-5-title {
    position:absolute;
    background-color: lightblue;
    width:auto;
    font-size: 18px;
    margin-left: 4px;
    margin-top:225px;
    text-align: center;
    font-family: var(--font);
}


.subtitle, .subtitle-2, .subtitle-3, .subtitle-4 {
    font-size: 12px; 
}

/* End of Titles */

/* Hovers */

.miniproj:hover {
    opacity: .4;
    
    
}

.passwordgenie:hover {
    opacity: .4;
    background: red;
}

/* End of Hovers */





























/* #work-sec {
    display: flex;


}

#mini-proj {
    width: 99%;
    height: auto;

}

.content {
    width: 85%;
} */