:root {
    --primary: #384044; 
    --font: 'Raleway';
}

/* Header */
header {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--primary);
    height:100px;
    
}

 h1 {
    background-color: lightblue;
    padding-left: 100px;
    color: var(--primary);
    font-family: var(--font);
}

#navigation {
    display: flex;
    margin-right: 50px;
    margin-top: 40px;
    
}

.navli {
    text-align: center;
    list-style: none;
    margin-left: 15px;
    font-family: var(--font);
    border-bottom: 3px solid lightblue;
    color: lightblue;   
}
/* End of header */

/* Hero */
#hero {
    display:flex;
    background-image: url(images/hero.jpg);
    height: 250px;
    object-fit: cover;
    justify-content: space-between;  
}

#powerof {
   position:relative;
   color:lightblue;
   margin-top:150px;
   margin-right: 60px;
   font-size: 30px; 
   font-family: var(--font); 
}

#avatar {
    position:relative;
    margin-left: 30px;
    height:230px;
    margin-top: 19.5px;
}
/* End of Hero */


/* About Me */
#about-me {
    display: flex;
    flex-wrap: nowrap;
    
}

h2 {
    display:flex;
    justify-content: right;
    width:15%;
    border-right: 5px solid lightblue;
    text-align: right; 
    padding-right: 5px;
    color: var(--primary);
    font-size: 35px;
}

#lorem {
    padding:20px;
    width: 85%;   
}

/* End About Me */